:root {
    /* COLOR PALETTE */
    /* Primary color */
    --c-pri-lighter: #4A6F84;
    --c-pri-main: #11364A;
    --c-pri-darker: #0C2A39;
    /* Secondary color */
    --c-sec-lighter: #699496;
    --c-sec-main: #265A5C;
    --c-sec-darker: #005154;
    /* Third color */
    --c-thi-lighter: #898D8D;
    --c-thi-main: #3F7B70;
    --c-thi-darker: #354946;
    /* Fourth color */
    --c-fou-lighter: #ECECEC;
    --c-fou-main: #DDDDDD;
    --c-fou-darker: #D4D4D4;
    /* Accents color */
    --c-acc-ligther: #F7F7F7;
    --c-acc-darker: #000000;
    /* LAYOUT */
    --gutter: 16px;
    --max-width: 1280px;
    --border-radius-semi: 10px;
    --border-radius-minor: 5px;
    --line-height: 1.7;
    /* ANIMATIONS */
    --transition: .3s ease-out;
    /* TYPOGRAPHY */
    --f-primary: 'Nunito', sans-serif;
    --f-secondary: 'Monserrat', sans-serif;
    /* FONT SIZE */
    /* primary */
    --fp-h1-title: 48px;
    --fp-h2-subtitle: 36px;
    --fp-h3-subtitle: 28px;
    --fp-h4-normal: 24px;
    --fp-h5-regular: 18px;
    --fp-h6-small: 16px;
    --fp-smaller: 12px;
    --fp-ultrasmaller: 10px;
    /* secondary */
    --fs-big: 26px;
    --fs-normal: 22px;
    --fs-regular: 18px;
    --fs-small: 16px;
    --fs-smaller: 12px;
    --fs-ultrasmaller: 9px;
    /* FONT WEIGHT */
    --light:300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
  }